.dropdown {
    position: relative;
}
.select-language {
    display: flex;
    width: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-language {
    width: 20px;
    height: 20px;
}
.title-language {
    font-size: 15px;
    color: #9a9a9a;
    font-weight: 800;
    cursor: pointer;
}
.icon-select {
    width: 15px;
    height: 15px;
}
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    /* position: absolute; */
}
.dropdown .dropdown-content {
    background-color: #fff;
    width: 80px;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    position: absolute;
    top: 25px;
}
.dropdown .dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown .dropdown-content .dropdown-item:hover {
    background-color: #e4e7e8;
    cursor: pointer;
}
.dropdown-item div {
    width: 50px;
    display: flex;
    justify-content: space-between;
}
/* .dropdown-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50px;
} */
