.ad-block {
    display: flex;
    background-color: #f5f7fb;
    flex-direction: row;
    flex: 1 0 100%;
    position: relative;
}
.row-reverse {
    flex-direction: row-reverse;
}
.ad-block-info {
    margin-left: 50px;
}
.ad-block-title {
    margin-top: 110px;
    font-size: 58px;
    font-weight: 900;
    color: #505f6c;
}

.ad-block-description {
    margin-top: 55px;
    font-size: 19px;
    line-height: 1.5;
    color: #9a9a9a;
}

.ad-block-fast-delivery {
    background-color: #fafbf7;
}
.ad-block-img {
    height: 538px;
}
