.header-info {
    display: flex;

    width: 420px;
    flex-direction: row;
    justify-content: space-between;
}
.header-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    color: #4e72d0;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 800;
}
.description {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 15xp;
    font-weight: 800;
}
