.icon-feature {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}
.title-feature {
    font-size: 19px;
    font-weight: 700;
    color: #223645;
    margin-bottom: 15px;
}
.description-feature {
    font-size: 15px;
    color: #9a9a9a;
    font-weight: 700;
}
.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
}
