.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-network-language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
.header-top-bg {
    height: 50px;
    background-color: #f5f6fa;
    display: flex;
}
.container {
    max-width: 1175px;
    margin: 0 auto;
}
.header-bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
