.select-language {
    display: flex;
    width: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-language {
    width: 20px;
    height: 20px;
}
.title-language {
    font-size: 15px;
    color: #9a9a9a;
    font-weight: 800;
}
.icon-select {
    width: 15px;
    height: 15px;
}
